body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scroll when sidebar moves */
}
.material-icons {
    font-size: 20px;
}
.material-icons-outlined {
     font-size: 24px;
}

/* Page fade transition */
.page {
    transition: opacity 0.3s ease-in-out;
}

/* Toggle Switch CSS */
.toggle-checkbox:checked {
    right: 0;
    border-color: #4F46E5;
}
.toggle-checkbox:checked+.toggle-label {
    background-color: #4F46E5;
}

/* Settings Page Switch CSS */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 32px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked+.slider {
    background-color: #4F46E5;
}
input:focus+.slider {
    box-shadow: 0 0 1px #4F46E5;
}
input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/* Sidebar Collapse Styles */
aside {
    transition: transform 0.3s ease-in-out;
}
body.sidebar-collapsed aside {
    transform: translateX(-100%);
}

main[data-scroll] {
    transition: left 0.3s ease-in-out;
}


/* --- NEW STICKY NOTE STYLES --- */
#floating-sticky-note-btn {
    position: fixed;
    bottom: 2rem; /* 8 */
    right: 7rem;  /* 28 (to be left of the chat button) */
    z-index: 30;
    display: flex;
    height: 4rem; /* 16 */
    width: 4rem; /* 16 */
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 9999px; /* full */
    background-color: #f59e0b; /* amber-500 */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
#floating-sticky-note-btn:hover {
    transform: scale(1.1);
    background-color: #f59f0bda; /* amber-600 */
}
.dark #floating-sticky-note-btn {
    background-color: #d97706; /* amber-600 */
}
.dark #floating-sticky-note-btn:hover {
    background-color: #b45309; /* amber-700 */
}